@model TakipEczane.Models.Ilac

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/drugs/@(Model.Ilacadı).png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Ilacadı</h5>
        
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Barkod: @Model.Barkod</li>
        <li class="list-group-item">Quantity: @Model.Fiyat</li>
        <li class="list-group-item">Stock Statu: @Model.Miktar</li>
        <li class="list-group-item">Brand: @Model.Firma.Firmaadı </li>
    </ul>
    <div class="card-body">
        <a asp-controller="Ilacs" asp-action="ShowEquivalents" asp-route-etki="@Model.Etki.Etkigrubu" class="btn btn-primary">Show Equivalent Drug</a>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
